.article-image{
    width:80%;
}
.article-container{
    width:50%;
    margin:0 auto;
    border:1px solid black;
    border-radius: 4px;



    h2{
        font-size:32px;
        line-height: 1.2em;
        text-align: center;
    }
    p{
        font-size:28px;
        max-width:80%;
        padding-left:10%;
    }
}
